/Library
/Temp
/Local
**/UnityVS.*
/obj
/*.sln
/Build
/ProjectSettings/EditorBuildSettings.asset
/*.csproj

#ignoring backup-saves of blend-files
**/*.blend1
**/*.blend1.meta
**/*.blend2
**/*.blend2.meta